<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Swift file - @this.ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
   	<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
            <div class="container">
                
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Welcome to SwiftFile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item ml-3">
                            <a class="nav-link text-dark" asp-controller="Swift" asp-action="Index">Swifts</a>
                        </li>
                        <li class="nav-item ml-3">
                            <a class="nav-link text-dark" href="/api/swagger">Swagger</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
	</header>

	<div class="body-content">
		@RenderBody()
	</div>

	<footer>
		<small>© Copyright SwiftFile @DateTime.Now.Year</small>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>